/*

font-family: 'Open Sans', sans-serif;

font-family: 'Orbitron', sans-serif;

*/


body {
	background-color: #0070ba;
}

#logo {
	margin: 20px auto 0px auto;
	z-index: inherit;
	display: block;
}

#castImage{
	width: 100%;
}

.start {
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	padding: 5px 10px;
	font-weight: 700;
	background-color: #e30922;
	color: #fff;
	z-index: 2000;
	border-radius: 5px;
}

.start:hover {
	background-color: #fcd720;
	color: #000;


}


.containerBack {
	border-radius: 25px;
	border: 7px solid #e30922;
	background-color: #fff;
	overflow: hidden;
}

.game {
	border-radius: 25px;
	border: 7px solid #e30922;
	background-color: #fff;
	overflow: hidden;
	background: url("../images/s1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



/* Timer */
.timerContainer {
	margin: 0px auto;
	background-color: #e30922;
	border-radius: 0px 0px 15px 15px;
	width: 300px;

}

#timeLeft {
	color: #fcd720;
	margin-top: 10px auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	font-weight: 700;
}

#timeShow{
	color: #fff;
	margin-top: 0px auto;
	padding: 0px 10px 10px 10px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 20pt;
	font-weight: 700;
}

/* Quiz Container */

.quizContainer {
	margin-top: 40px;
	padding: 15px;
	margin-bottom: 40px;
	border: 1px solid #000;
	min-height: 450px;
	border-radius: 15px;
	background: rgba(255, 255, 255, .8);
	box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.7);

}


#question {
	padding-bottom: 10px;
	border-bottom: 2px solid #e30922;
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 700;
	color: #000;
	text-align: left;
}

#answers li {
	font-size: 16pt;
	font-weight: 500;
	text-align: left;
	color: #000;
	padding: 10px 5px 10px 15px;
	margin: 15px 0px;
	-o-transition:background-color .5s ease-out;
  	-ms-transition:background-color .5s ease-out;
  	-moz-transition:background-color .5s ease-out;
  	-webkit-transition:background-color .5s ease-out;
  /* ...and now override with proper CSS property */
  	transition:background-color .2s ease-out;
}

#answers li:hover {

	background-color: rgba(252,215,32,0.5); 
	border-radius: 5px;
}

/* answer container */
#answerImg {
	width: 350px;
	height: 150px;
	margin: 20px auto;
	border: 2px solid #000;
}

#answerText {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: 700;
	color: #000;
	text-align: center;

}

#correct {
	color: green;
}

#incorrect {
	color: red;
}


#endOfGame {
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 700;
	color: #000;
	text-align: center;
	padding: 20px 0px 0px 0px;
}

#score {
	font-family: 'Open Sans', sans-serif;
	font-size: 20pt;
	font-weight: 700;
	color: #000;
	text-align: center;
	

}

#percent {
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 700;
	color: #000;
	text-align: center;
	padding: 10px 20px;
	margin-top: 20px;
}


hr.styleOne {
    height: 12px;
    border: 0;
    box-shadow: inset 0 -12px 12px -12px rgba(0, 0, 0, 0.5);
}


hr.styleTwo {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* Questions Left */
.questionsLeftContainer {
	margin: 0px auto;
	background-color: #e30922;
	border-radius: 15px 15px 0px 0px;
	width: 300px;

}

#questionsLeft {
	color: #fcd720;
	margin-top: 10px auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	font-weight: 700;
}

#numQuestionsLeft{
	color: #fff;
	margin-top: 10px auto;
	padding: 0px 10px 10px 10px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	font-weight: 700;
}